<div class="container">
    <h1>Productos</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.id }}</td>
          <td>{{ producto.name }}</td>
          <td>{{ producto.price | currency }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary">Agregar Producto</button>
  </div>